{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="{{ block('title') | trim }}" />
    <meta property="og:description" content="{{ block( 'meta_description' ) | trim }}" />
    <meta property="og:image" content="{{ meta_image | default( 'http://' ~ app.request.host ~ '/img/facebook.png' ) }}" />
    <meta property="og:image:secure_url" content="{{ meta_image | default( 'https://' ~ app.request.host ~ '/img/facebook.png' ) }}" />
{% endblock meta %}

{% block body %}

<div class="grid-container">
    <div class="grid-100 grid-parent" id="page-container">

        <nav class="grid-100 grid-parent" id="page-navigation">
            {% block navigation %}
                {% include 'navigation.html.twig' %}
            {% endblock navigation %}
        </nav>

        {% block page %}
        <div class="panel panel-info grid-100 grid-parent">
            <header class="panel-heading" id="page-header">
            {% block header %}
                <h2 class="panel-title">Header</h2>
                <h2 class="panel-title label label-success">IS_AUTHENTICATED_ANONYMOUSLY</h2>
            {% endblock header %}
                <div class="clearfix"></div>
            </header>

            <article class="panel-body grid-100 grid-parent" id="page-content">
                {% block content '' %}
            </article>

            <footer class="panel-footer" id="page-footer">
            {% block footer %}
                &copy; yo mama {{ 'now' | date( 'Y' ) }}
            {% endblock footer %}
            </footer>
        </div>
        {% endblock page %}
        <div class="clear"></div>



        <p>
        <form method="GET" action="{{ url( 'index' ) }}" style="text-align: right; color: black;">
            <select id="change-layout-theme" name="theme">
            </select>
            <a href="http://bootswatch.com/" target="_blank">src</a>
        </form>
        </p>

        <script>
            var switcher    =   new ThemeSwitcher( '#change-layout-theme' , '#layout-theme' );

            {% if app.session.has( 'theme' )  %}
                $( '#change-layout-theme' ).val( '{{ app.session.get( 'theme' ) }}' );
            {% endif %}
        </script>

    </div>
    <div class="clear"></div>

</div>

{% endblock body %}

{% block head %}        
    {{ block( 'javascripts' ) }}   
            
    {{ block( 'adapt_config' ) }}
        
    {{ block( 'stylesheets' ) }}    

    {{ block( 'adapt' ) }}    

    {{ block( 'favicon' ) }}

    <title>{% block title 'website' %}</title>
{% endblock head %}

{% block javascripts %}
    <script src="{{ constant( 'WEB' ) | default( '.' ) }}/js/jquery.js"></script>
    <script src="{{ constant( 'WEB' ) | default( '.' ) }}/bootstrap/js/bootstrap.min.js"></script>

    <script src="{{ constant( 'WEB' ) | default( '.' ) }}/js/theme-switcher.js"></script>
{% endblock javascripts %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/css/master.css" />
    <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/css/unsemantic-grid-base-no-ie7.css" />

    {% if app.session.has( 'theme' )  %}
        <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/bootstrap/css/{{ app.session.get( 'theme' ) }}.min.css" id="layout-theme" />
    {% else %}
        <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/bootstrap/css/bootstrap-theme.css" />
    {% endif %}

    <noscript>
        <link rel="stylesheet" href="{{ constant( 'WEB' ) | default( '.' ) }}/css/mobile.css" />
    </noscript>       
{% endblock stylesheets %}    
    
{% block adapt %}
    <script src="{{ constant( 'WEB' ) | default( '.' ) }}/js/adapt.js"></script>
{% endblock adapt %}      

{% block adapt_config %}
<script type="text/javascript">
//<![CDATA[   

onScreenResize = function( i , width ) 
{                               
    {% if app.debug %}
        console.log( { 'width' : width , 'index' : i } ); 
    {% endif %}
    
    {% block onScreenResize %}
    {% endblock onScreenResize %}       
}

// Edit to suit your needs.
var ADAPT_CONFIG = {
// Where is your CSS?
//path: 'assets/css/',
path: '{{ constant( 'WEB' ) | default( '.' ) }}/css/' ,

// false = Only run once, when page first loads.
// true = Change on window resize and page tilt.
dynamic: true,

// Optional callback... myCallback(i, width)
callback: function(i,width)
{
//the callback is initially run BEFORE page is loaded, so not all DOM elements do exist yet, therefore we bind it to window:load    
    $(window).load(function(){        
        onScreenResize(i,width);
    });
      
    
    return onScreenResize(i,width);
},

// First range entry is the minimum.
// Last range entry is the maximum.
// Separate ranges by "to" keyword.
range: [
    '0 to 767px = mobile.css',
    '768px to 1024px = tablet.css' ,
    '1024px = desktop.css'
]

};    

//]]>       
</script> 
{% endblock adapt_config %}