{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock title %}

{% block content %}

<form action="{{ url('login_check') }}" method="post" role="form">

    <div class="form-group">
        <label for="_username">Uživatelské jméno / Email:</label>
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <input type="text" name="_username" id="_username" value="{{ last_username }}" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="_password">Heslo:</label>
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input type="password" name="_password" id="_password" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="přihlásit" class="btn btn-primary" />
        <a href="{{ url( 'get_register_user' ) }}" class="btn btn-warning">Register</a>
    </div>


</form>

<div>
    {{ last_error }}
</div>


{% endblock content %}