<menu>
    {% if app.user and is_granted( 'ROLE_USER' ) %}
        <li><a href="{{ url( 'logout' ) }}">Logout</a></li>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li><a href="{{ url( 'index' , { '_switch_user' : '_exit' , 'nonce' : 'now' | date( 'U' ) } ) }}">{{ app.user.username }}</a></li>
        {% else %}
            <li>{{ app.user.username }}</li>
        {% endif %}
    {% else %}
        <li><a href="{{ url( 'login' ) }}">Login</a></li>
        <li><a href="{{ url( 'get_register_user' ) }}">Register user</a></li>
    {% endif %}
    <li><a href="{{ url( 'secured_index' ) }}">Secured area</a></li>
    <li><a href="{{ url( 'get_users' ) }}">User list</a></li>
    <li><a href="{{ url( 'index' ) }}">Home page</a></li>
    <li><a href="{{ url( 'partners' ) }}">Partners</a></li>
    <li><a href="{{ url( '404' ) }}">Not found page</a></li>
    <li><a href="{{ url( 'error' ) }}">Error page</a></li>
    <li><a href="{{ url( 'admin_index' ) }}">Admin</a></li>
</menu>
