<menu>
    <li><a href="{{ url( 'get_register_user' ) }}">Register user</a></li>
    <li><a href="{{ url( 'get_user_list' ) }}">User list</a></li>
    <li><a href="{{ url( 'index' ) }}">Home page</a></li>
    <li><a href="{{ url( 'partners' ) }}">Partners</a></li>
    <li><a href="{{ url( '404' ) }}">Not found page</a></li>
    <li><a href="{{ url( 'error' ) }}">Error page</a></li>
    <li><a href="{{ url( 'admin_index' ) }}">Admin</a></li>
</menu>
