{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Error {{ error.statusCode | default('') }}
{% endblock title %}

{% block content %}

    <div class="panel panel-danger grid-100 grid-parent">
        <div class="panel-heading">
            <h2 class="panel-title">Error {{ error.statusCode | default('') }}</h2>
        </div>

        <div class="panel-body">
            An error has occurred {{ error.statusCode | default('') }} {{ error.message | default('') }}
        </div>
    </div>

{% endblock content %}  