{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Registration complete
{% endblock title %}

{% block content %}

    <table class="striped">
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created | date( 'Y-m-d H:i:s' ) }}</td>
            <td>{{ user.roles | join( ',' ) }}</td>
            <td><a href="{{ url( 'edit_user' , { 'user' : user.id } ) }}">upravit</a></td>
            <td>
                <form method="post" action="{{ url( 'delete_user' , { 'user' : user.id } ) }}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <a href="#" onclick="$(this).parent().submit()">smazat</a>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}