{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'nav.userlist' | trans }}
{% endblock title %}

{% block header %}
    <h2 class="panel-title">{{ 'nav.userlist' | trans }}</h2>
    <h2 class="panel-title label label-danger">ROLE_ADMIN</h2>
{% endblock header %}

{% block content %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th><button class="btn btn-warning btn-sm glyphicon glyphicon-pencil" disabled="disabled"></button></th>
                <th><button class="btn btn-danger btn-sm glyphicon glyphicon-trash" disabled="disabled"></button></th>
                <th><button class="btn btn-success btn-sm glyphicon glyphicon-user" disabled="disabled"></button></th>
                <th>username</th>
                <th>email</th>
                <th>created</th>
                <th>last login</th>
                <th>roles</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td><a href="{{ url( 'edit_user' , { 'user' : user.id } ) }}" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></a></td>
                <td>
                    <form onsubmit="return window.confirm( 'smazat uživatele {{ user.username }}?' )" method="post" action="{{ url( 'delete_user' , { 'user' : user.id } ) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <a href="#" onclick="$(this).parent().submit()" class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                    </form>
                </td>
                <td>
                    <a href="{{ url( 'index' , { '_switch_user' : user.username , 'nonce' : 'now' | date( 'U' ) } ) }}" class="btn btn-success btn-sm glyphicon glyphicon-user"></a>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="small">{{ user.created | date( 'Y-m-d H:i:s' ) }}</td>
                <td class="small">{{ user.lastLogin ? user.lastLogin | date( 'Y-m-d H:i:s' ) : '-' }}</td>
                <td class="small">{{ user.roles | join( ',' ) }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}