{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - User list
{% endblock title %}

{% block content %}

    vyžaduje <strong>ROLE_ADMIN</strong><br />

    <table class="striped">
        <tr>
            <th>username</th>
            <th>email</th>
            <th>created</th>
            <th>last login</th>
            <th>roles</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created | date( 'Y-m-d H:i:s' ) }}</td>
            <td>{{ user.lastLogin ? user.lastLogin | date( 'Y-m-d H:i:s' ) : '-' }}</td>
            <td>{{ user.roles | join( ',' ) }}</td>
            <td><a href="{{ url( 'edit_user' , { 'user' : user.id } ) }}">upravit</a></td>
            <td>
                <form onsubmit="return window.confirm( 'smazat uživatele {{ user.username }}?' )" method="post" action="{{ url( 'delete_user' , { 'user' : user.id } ) }}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <a href="#" onclick="$(this).parent().submit()">smazat</a>
                </form>
            </td>
            <td>
                <a href="{{ url( 'index' , { '_switch_user' : user.username , 'nonce' : 'now' | date( 'U' ) } ) }}">simulovat</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}